form {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 60px auto 0 auto;
    border: 2px solid black;
}

.input {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    row-gap: 10px;
    padding: 20px 0 20px 20px;
}

.option-header {
    color: grey;
}

/*  */
select,
.form__calculator-sum,
.form__calculator-button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}


.select,
.form__calculator-button {
    cursor: pointer;
}

.form__calculator-button {
    background-color: #008eff;
    color: white;
}

.output__wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80%;
    width: 500px;
    border: 1px solid black;
    margin: 20px;
}

.out-text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.next__page {
    margin: 60px auto 0 auto;
    text-align: center;
    border: 2px solid rgb(119, 58, 15);
    width: 200px;
}

.next__page a {
    text-decoration: none;
    color: chocolate;
    padding: 15px;
    font-size: 20px;
}