.p {
    font-size: 24px;
}

.header {
    text-align: center;
    font-size: 30px;
}

.header-link {
    text-decoration: none;
    color: rgb(233, 128, 145);
}


.vacancy {
    margin: 0 auto;
    padding: 20px;
    border: 2px solid rgb(233, 128, 145);
    width: 500px;
    margin-bottom: 40px;
}

.vacancy p {
    color: black;

}

.worker {
    font-size: 34px;
}

.salary {
    font-size: 24px;
}

.company,
.address {
    font-size: 18px;
}

.experience {
    font-size: 22px;
}

.vacancy_btn {
    background-color: rgb(158, 7, 189);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(158, 7, 189);
}

.vacancy_btn a {
    text-decoration: none;
    color: white;
}

.prev__page {
    margin: 60px auto 0 auto;
    text-align: center;
    border: 2px solid rgb(119, 58, 15);
    ;
    width: 200px;
}

.prev__page a {
    text-decoration: none;
    color: chocolate;
    padding: 15px;
    font-size: 20px;
}